# Python
__pycache__/
*.pyc

# Ignore only large/unwanted models
*.h5

# Allow specific model file
!models/
!models/brain_tumor_model.keras

# Environment
venv/
.env

# OS
.DS_Store
Thumbs.db

# Outputs
outputs/
data/